//Jumbotron
.jumbotron{
  width: 80%;
  margin: 60px auto;
  padding: 30px 0;
  // background: url(../img/illustration-main.jpg) top right no-repeat;
  // background-size: contain;
  &__content{
    display: flex;
    flex-wrap: wrap;
  }
  &__left,
  &__right{
    min-width: 400px;
    width: 50%;
  }
  @media screen and (max-width: $breackSmall){
    &__left,
    &__right{
      width: 100%;
      text-align: center;
    }
  }
  &__text{
    margin: 20px 0;
    font-size: 130%;
    line-height: $lineHeightDefault * 1.2;
  }
  &__buttons{
    a{
      margin: 15px 0;
    }
  }
}
