.main{
  width: 100%;
  margin: 0 auto;
  &__row{
    width: 100%;
    padding: 50px 0;
    &--bisque{
      background: $pinkBisqueColor;
    }
  }
}

.section{
  width: $widthContainerBreackSmall;
  @media screen and (max-width: $breackXSmall){
    width: $widthContainerBreackXSmall;
  }
  margin: 0 auto;
  overflow: hidden;
  &__row{
    width: 100%;
    margin-bottom: 30px;
    &:after{
      content: '';
      display: table;
      clear: both;
    }
    &--border-bottom{
      padding-bottom: 60px;
      border-bottom: 1px solid $brownColor;
    }
  }
  &__title{
    &__icon{
      vertical-align: sub;
      margin-left: 5px;
      height: $lineHeightDefault;
    }
  }
  &__icons{
    margin-top: 30px;
    .section__row{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__icon{
    width: calc((100% / 3) - 40px * 3);
    margin: 20px 40px;
    @media screen and (max-width: $breackSmall){
      width: 100%;
    }
    &__img{
      max-height: 100px;
    }
  }
  &__icon:only-child{
    .section__icon__img{
      max-height: 210px;
    }
  }
  &--description{
    text-align: center;
  }
  &--infographic{
    width: 100%;
    .section__row{
      display: flex;
      flex-wrap: wrap;
      @media screen and (max-width: $breackSmall){
        justify-content:space-around;
        text-align: center;
      }
      &:nth-child(even){
        justify-content:flex-end;
      }
      .section__col{
        width: 50%;
        @media screen and (max-width: $breackSmall){
          width: 100%;
        }
        &__img{
          width: 200px;
        }
        &--text{
          width: 30%;
          @media screen and (max-width: $breackSmall){
            width: 100%;
            order: 2;
          }
        }
      }
    }
  }
  &--calltoaction{
    text-align: center;
    .section__title{
      font-size: 220%;
      margin-bottom: 30px;
    }
    .section__buttons{
      display: block;
      & > a{
        margin-bottom: 20px;
      }
    }
  }
}

.quote-box{
  position: relative;
  width: 60%;
  margin: 0 auto;
  background: $quoteBoxBgColor;
  padding: $quoteBoxPadding;
  border: 1px solid $quoteBoxBorderColor;
  border-radius: $quoteBoxBorderRadius;
  text-align: left;
  &:before{
    @include fontawesome("\f10d", 0, 900);
    position: absolute;
    z-index: 1;
    top: -15px;
    left: 0;
    font-size: 30px;
    color: $blueColor;
  }
  p{
    margin-bottom: 20px;
  }
  &__source{
    display: flex;
    align-items: center;
    &__avatar{
      width: 50px;
      margin-right: 20px;
    }
    &__text{
      span{
        display: block;
      }
    }
    &__name{
      color: $quoteNameColor;
    }
    &__position{
      font-size: 90%;
    }
  }
}
