//colors
$blueColor: #2c4792;
$brownColor: #5c4634;
$whiteColor: #fff;

//Typografy
$fontFamilyDefault: 'Montserrat', sans-serif;
$fontColorDefault: $brownColor;

//Links
$linkColorDefault: $brownColor;
$linkColorHoverDefault: $blueColor;

// Buttons
$btnPadding: 5px;
$btnBorderRadius: 5px;
$btnDefaultBorderColor: $brownColor;
$btnDefaultBgColor: $whiteColor;
$btnWhiteColor: $blueColor;
$btnWhiteHoverColor: $whiteColor;
$btnWhiteHoverBgColor: $blueColor;
$btnWhiteBorderColor : $blueColor;
