//colors
$blueColor: #2c4792;
$brownColor: #5c4634;
$whiteColor: #fff;
$blackColor: #000;
$pinkBisqueColor: #ffe3cd;

//Typografy
$fontFamilyDefault: 'Montserrat', sans-serif;
$fontColorDefault: $brownColor;
$fontSizeDefault: 14px;
$lineHeightDefault: 24px;

$headingFontSizeMax: 2.8em;
$headingLineHeightMax: 1.7em;

//Links
$linkColorDefault: $brownColor;
$linkColorHoverDefault: $blueColor;
$lineHeightLinkArrow: 4em;
// Buttons
$btnPadding: 5px 10px;
$btnBorderRadius: 5px;
$btnLogoHeight: 20px;
$btnDefaultBorderColor: $brownColor;
$btnDefaultBgColor: $whiteColor;
$btnWhiteColor: $blueColor;
$btnWhiteHoverColor: $whiteColor;
$btnWhiteHoverBgColor: $blueColor;
$btnWhiteBorderColor : $blueColor;
$btnBlueColor: $whiteColor;
$btnBlueBgColor: $blueColor;
$btnBlueHoverColor: $blueColor;
$btnBlueHoverBgColor: darken($btnBlueBgColor, 10%);
$btnBlueBorderColor : $blueColor;

//HEADER
$headerHeigh: 70px;

//NAV
$navLineHeigh: 30px;
$navSubBgColor: #fff;
$navSubBorderColor: #e1ddd4;
$navSubBorderRadius: 7px;

//QUOTE-BOX
$quoteBoxBgColor: $whiteColor;
$quoteBoxBorderColor: $blueColor;
$quoteBoxBorderRadius: 10px;
$quoteBoxPadding: 20px;
$quoteQuoteColor: $blueColor;
$quoteNameColor: $blueColor;

//MEDIA QUERY
$breackSmall: 998px;
